* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  display: flex;
  flex-direction: row;
  padding: 4% 20%;
  background-color: #f1f1f1;
  height: 100vh;
}

.gameContainer {
  display: flex;
  flex-flow: column wrap;
}

.board {
  width: 56vw;
  height: 56vh;
  display: flex;
  flex-wrap: wrap;
}

.board img {
  width: 7vw;
  height: 9vh;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  color: #333;
  padding-bottom: 2vh;
}

.warning {
  display: none;
}

@media (max-width: 1080px) {
  .App {
    display: none;
  }
  .warning {
    display: block;
  }
}
